*
!/.githooks/
!/packer/
!/packer/files/
!/packer/files/archlinux/
!/packer/files/archlinux/root/
!/packer/files/archlinux/root/etc/
!/packer/files/archlinux/root/etc/systemd/
!/packer/files/archlinux/root/etc/systemd/system/
!/packer/files/archlinux/root/usr/
!/packer/files/archlinux/root/usr/local/
!/packer/files/archlinux/root/usr/local/bin/
!/packer/templates/
!/roles/
!/roles/ctf_tools/
!/roles/ctf_tools/tasks/
!/roles/dotfiles/
!/roles/dotfiles/files/
!/roles/dotfiles/files/.config/
!/roles/dotfiles/files/.config/nvim/
!/roles/dotfiles/files/bin/
!/roles/dotfiles/tasks/
!/roles/interactsh/
!/roles/interactsh/files/
!/roles/interactsh/handlers/
!/roles/interactsh/tasks/
!/roles/interactsh/templates/
!/roles/interactsh/vars/
!/roles/interactsh_gui/
!/roles/interactsh_gui/files/
!/roles/interactsh_gui/handlers/
!/roles/interactsh_gui/tasks/
!/roles/interactsh_gui/templates/
!/roles/scanner_block/
!/roles/scanner_block/defaults/
!/roles/scanner_block/files/
!/roles/scanner_block/handlers/
!/roles/scanner_block/tasks/
!/roles/scanner_block/templates/
!/roles/system_setup/
!/roles/system_setup/handlers/
!/roles/system_setup/tasks/
!/roles/system_setup/vars/
!/roles/webhook_site/
!/roles/webhook_site/files/
!/roles/webhook_site/handlers/
!/roles/webhook_site/tasks/
!/roles/webhook_site/templates/
!/roles/webhook_site/vars/
!/scripts/
!/.githooks/pre-commit
!/.gitignore
!/README.md
!/ansible.cfg
!/config.example.yaml
!/delete.yaml
!/deploy.yaml
!/inventory.example
!/packer/LICENSE
!/packer/files/archlinux/install.sh
!/packer/files/archlinux/key.gpg
!/packer/files/archlinux/root/etc/systemd/system/hcloud-dl-metadata.service
!/packer/files/archlinux/root/etc/systemd/system/hcloud-dl-userdata.service
!/packer/files/archlinux/root/etc/systemd/system/hcloud-hostname.service
!/packer/files/archlinux/root/etc/systemd/system/hcloud-network.service
!/packer/files/archlinux/root/etc/systemd/system/hcloud-ssh-keys.service
!/packer/files/archlinux/root/usr/local/bin/hcloud-metadata
!/packer/files/archlinux/root/usr/local/bin/hcloud-network
!/packer/files/filesystem.sh
!/packer/files/hcloud-metadata
!/packer/local.example.pkrvars.hcl
!/packer/templates/archlinux.pkr.hcl
!/requirements.yml
!/roles/ctf_tools/tasks/main.yml
!/roles/dotfiles/files/.config/nvim/init.lua
!/roles/dotfiles/files/.gdbinit
!/roles/dotfiles/files/.tmux.conf
!/roles/dotfiles/files/.zsh_aliases
!/roles/dotfiles/files/.zshrc
!/roles/dotfiles/files/bin/yank
!/roles/dotfiles/tasks/main.yml
!/roles/interactsh/files/origin-ip-header-roottld.patch
!/roles/interactsh/handlers/main.yml
!/roles/interactsh/tasks/main.yml
!/roles/interactsh/templates/interactsh-server.service.j2
!/roles/interactsh/vars/main.yml
!/roles/interactsh_gui/files/wildcard-mode.patch
!/roles/interactsh_gui/handlers/main.yml
!/roles/interactsh_gui/tasks/main.yml
!/roles/interactsh_gui/templates/caddy.json.j2
!/roles/interactsh_gui/templates/caddy.service.j2
!/roles/interactsh_gui/templates/interactsh-web.service.j2
!/roles/scanner_block/defaults/main.yml
!/roles/scanner_block/files/scanner-block
!/roles/scanner_block/files/ufw-after.init
!/roles/scanner_block/handlers/main.yml
!/roles/scanner_block/tasks/main.yml
!/roles/scanner_block/templates/scanner-block-restore.service.j2
!/roles/scanner_block/templates/scanner-block-update.service.j2
!/roles/scanner_block/templates/scanner-block-update.timer.j2
!/roles/scanner_block/templates/scanner-block.conf.j2
!/roles/scanner_block/templates/scanners.restore.j2
!/roles/system_setup/handlers/main.yml
!/roles/system_setup/tasks/main.yml
!/roles/system_setup/tasks/syncthing.yml
!/roles/system_setup/tasks/vpn.yml
!/roles/system_setup/vars/main.yml
!/roles/webhook_site/files/dark.css
!/roles/webhook_site/files/nginx.conf
!/roles/webhook_site/handlers/main.yml
!/roles/webhook_site/tasks/main.yml
!/roles/webhook_site/templates/docker-compose.yml.j2
!/roles/webhook_site/templates/webhook-site.service.j2
!/roles/webhook_site/vars/main.yml
!/scripts/check-public.py
!/vault.example.yaml
