[defaults]
host_key_checking = False
roles_path = ./roles
inventory = ./inventory
remote_user = root
stdout_callback = default
result_format = yaml
callback_whitelist = timer,profile_tasks
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no