[Unit]
Description=Caddy reverse proxy (interactsh GUI + OOB routing)
Documentation=https://caddyserver.com/docs/
After=network-online.target interactsh-server.service
Wants=network-online.target

[Service]
Type=notify
User=root
Group=root
ExecStart=/usr/local/bin/caddy run --environ --config /etc/caddy/caddy.json
ExecReload=/usr/local/bin/caddy reload --config /etc/caddy/caddy.json --force
TimeoutStopSec=30s
LimitNOFILE=1048576
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
